.navbar {
    margin-top: 10px;
    border-radius: 5px;
    border: thin solid lightgray;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: #333333;
    font-weight: revert;
}

#counter {
    margin-left: 2px;
    padding: 2px 8px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

table {
    margin: auto auto 40px;
}

table th {
    padding-bottom: 10px;
    padding-right: 100px;
    border-bottom: solid lightgray;
}

table th:first-child {
    padding-left: 10px;
    padding-right: 200px;
}

table td:first-child {
    padding-left: 10px;
}

table th:nth-child(2) {
    padding-right: 450px;
}

table td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: thin solid lightgray;
}

table .form-inline .form-control {
    width: 70px;
}

#address-field {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    border: thin solid lightgray;
    border-radius: 10px;
}

#address-field label {
    padding-top: 20px;
}

#submit_btn {
    margin-right: 80px;
    margin-top: 20px;
}

#overview{
    width: 300px;
    margin: auto;
}